<h2>Your Reviews</h2>
<div class="row">
    {{#each albums as |album|}}
    <div class="card col-sm-3 m-3 p-3" style="width: 20%">
        <h4><a class="link" href="/reviews/{{album.id}}"><img class="card-img-top" src="{{album.cover}}"></a></h4>
        <div class="card-body"><h5 class="card-title">{{album.title}} by {{album.artist}}</h5>
            <p class="card-text">{{album.review}}</p>
        </div>    
    </div>
    {{/each}}
</div>

<button type="submit" class="button"><a class="link" href="/new-post">+ New Review</a></button>