<section>
    <img src="{{album.cover}}">
    <h3 class="banner">{{album.title}}</h3>
    <h2>{{album.artist}}</h2>
    <h3>{{album.genre}} | {{album.year}}</h3>
    <p>{{album.review}}</p>
    <p>Reviewed By: {{user.email}}</p>
</section>